// Brand Colors

$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-ligth: #0c2135;

$secondary-normal: #232224;
$secondary-dark: #06090C;
$secondary-ligth: #1a1f25;

//Neutral Colors

$black-normal: #232224;
$black-dark: #161617;
$balck-ligth: #353436;

$white-normal: #FFFFFF;
$white-dark: #EDEAEF;
$white-ligth: #FBFBFF;

//Auxiliar Colors

$auxiliar-primary: #C5A64C;
$auxiliar-secondary: #A8C54C;
$auxiliar-tertiary: #C5694C;




